@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,500&display=swap');
/*font-family: 'Ubuntu', sans-serif; */

h1{
    font-weight : 900;
    font-family : 'Ubuntu', sans-serif;
}

h2{
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
}
/* I think the font for the poem is good already */